{% extends 'base.html' %}

{% block content %}

<h2>{{ actor['name'] }}</h2>
sites:
<ul>
{% for k,v in scenes.items() %}
<li><a href="/studio/{{k}}">{{k}}</a>
    <ul>
    {% for  s in v %}
        <li><a href="/scene/{{s['id']}}">{{s['title']}}</a></li>
    {%endfor%}
    </ul>
</li>
{%endfor%}
</ul>
{% if actor['stash_id'] %}
<a href="https://stashdb.org/performers/{{actor['stash_id']}}">{{actor['stash_id']}}</a>

{% else %}
<hr/>
Possible performer matches:
{% if performers_list|length >0 %}
<ul>
    {% for p in  performers_list['queryPerformers']['performers']  %}
    <li>
        <a href="https://stashdb.org/performers/{{p['id']}}">{{p['id']}}</a> - {{p['name']}} - {{p['disambiguation']}} {{p['aliases']}} <a href="/actor_update/{{actor['id']}}?stash_id={{p['id']}}">SET</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endblock %}