{% extends 'base.html' %}

{% block content %}

<h2>{{ scene['title'] }}</h2>
<img src="{{ scene['scene_image'] }}"/>

{% if complete %}
<h3><a href="/scene_submit/{{ scene_id }}">SUBMIT</a></h3>
{% else %}
<h3>The scene is not complete</h3>
{% endif %}
<br/>
<p>{{ scene['details'] }}</p>
<h4>tags:</h4><ul>
{% for t in scene['tags'] %}
<li>{{ t['name'] }}
{% if t['id'] %}
    - <a href="https://stashdb.org/tags/{{ t['id'] }}"> {{t['id']}}</a></li>
{% endif %}
{% endfor %}
</ul>

<h4>Performers:</h4>
<ul>
{% for p in scene['performers'] %}
<li><a href="/actor/{{p['local_id']}}">{{ p['name'] }}</a>
    {% if p['id'] %}
    - <a href="https://stashdb.org/performers/{{ p['id'] }}"> {{ p['id'] }}</a>
{% endif %}
    </li>
{% endfor %}
</ul>


{% endblock %}