{% extends 'base.html' %}

{% block content %}

<img src="{{ studio['image'] }}"/>
<p>{{ studio['name'] }}</p>
<br/>
{% if studio['stash_id'] %}
<a href="https://stashdb.org/studios/{{ studio['stash_id']}}"> {{ studio['stash_id'] }}</a>
{% else %}
Studio not matched
{% endif %}
<hr>

<div class="grid-container">

{% for scene in scenes %}
  <div class="grid-item">

<a href="/scene/{{ scene['id'] }}">
    <img src="{{ scene["image"] }}"/>
    <p>{{ scene['title'] }}</p>

</a>


</div>

{% endfor %}
</div>




{% endblock %}