{% extends 'base.html' %}

{% block content %}

<img src="{{ studio['image'] }}"/>
<p>{{ studio['name'] }}</p>
<br/>
{% if studio['stash_id'] %}
<a href="https://stashdb.org/studios/{{ studio['stash_id']}}"> {{ studio['stash_id'] }}</a>
{% else %}
Studio not matched
{% endif %}
<hr>

{% if missing_performers|length >0 %}
<h3>missing performers: </h3><ul>
    {% for p in missing_performers %}
    <ul><a href="/actor/{{p['id']}}">{{ p['name'] }}</a></ul>
    {% endfor %}
</ul>

{% endif %}


<div class="grid-container">

{% for scene in scenes %}
  <div class="grid-item">

<a href="/scene/{{ scene['id'] }}">
    <img src="{{ scene["image"] }}"/>
    <p>{{ scene['title'] }}</p>

</a>


</div>

{% endfor %}
</div>




{% endblock %}